<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/style.css">
    <title>Web Weather</title>
</head>
<body>
    <div>
        {{>header}}
    </div>

    <div class="syntax">
        <p class="about_header">ABOUT</p>
        <P class="web">Welcome to Web Weather</P>

            <p class="webdetails">At Web Weather, 
            we specialize in providing you with real-time updates on current temperature and weather information. 
            Our goal is to keep you informed, so you can plan your day with confidence. 
            With accurate data and user-friendly interface, Web Weather is your go-to source for instant weather updates.</P>
    </div>

    <div>
        {{>footer}}
    </div>

    
    <script src="/js/app.js" class="btn"></script>
</body>
</html>