<header>
    <div class="container">
    <img src="/img/logo.png" class="imglogo">
        <div class="item">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/contact">Contact us</a>
        </div>
    </div>
</header>